# -*- python -*-
# ex: set filetype=python:
# vim: ft=python

from collections import defaultdict

# For parsing configuration
import toml

from buildbot.plugins import (worker, changes, util, schedulers, steps)

ORG_NAME = 'matthew-brett'
REPO_NAME = 'transforms3d'
PKG_NAME = REPO_NAME
GITHUB_URL = 'https://github.com/{}/{}.git'.format(ORG_NAME, REPO_NAME)

# Read configuration parameters
with open('private_config.toml', 'rt') as fobj:
    p_config = toml.load(fobj)

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

# Usage data to buildbot: {'basic', 'full', None}
# To silence configuration log message.
c['buildbotNetUsageData'] = 'basic'

####### WORKERS

# The 'workers' list defines the set of recognized workers. Each element is
# a Worker object, specifying a unique worker name and password.  The same
# worker name and password must be configured on the worker.
worker_groups = {k: v['workers'] for k, v in p_config['worker-groups'].items()}

c['workers'] = []
for w_name, w_pass in p_config['workers'].items():
    c['workers'].append(worker.Worker(w_name, w_pass))

# 'protocols' contains information about protocols which master will use for
# communicating with workers. You must define at least 'port' option that workers
# could connect to your master with this protocol.
# 'port' must match the value configured into the workers (with their
# --master option)
c['protocols'] = {'pb': {'port': p_config.get('worker_port', 9989)}}

####### CHANGESOURCES

# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.  Here we point to the buildbot version of a python hello-world project.

c['change_source'] = []
c['change_source'].append(changes.GitPoller(
        GITHUB_URL,
        workdir='gitpoller-workdir', branch='master',
        pollInterval=300))

####### SCHEDULERS

# Configure the Schedulers, which decide how to react to incoming changes.  In this
# case, just kick off a 'runtests' build

c['schedulers'] = []
c['schedulers'].append(schedulers.SingleBranchScheduler(
                            name="all",
                            change_filter=util.ChangeFilter(branch='master'),
                            treeStableTimer=None,
                            builderNames=["mac-tests", 'linux-tests']))
c['schedulers'].append(schedulers.ForceScheduler(
                            name="force",
                            builderNames=["mac-tests", 'linux-tests']))
c['schedulers'].append(schedulers.Nightly(
    name='nightly',
    branch='master',
    builderNames=['mac-tests', 'linux-tests'],
    hour=3,
    minute=0))

####### BUILDERS

# The 'builders' list defines the Builders, which tell Buildbot how to perform a build:
# what steps, and which workers can execute them.  Note that any particular build will
# only take place on one worker.

factory = util.BuildFactory()
SC = steps.ShellCommand
IP = util.Interpolate

# check out the source
factory.addStep(steps.Git(repourl=GITHUB_URL, mode='incremental'))

# Make virtualenv into which to install
factory.addStep(SC(command=['virtualenv', 'venv']))
# Put virtualenv Python on PATH.
venv_env = {'PATH': IP("%(prop:builddir)s/build/venv/bin:${PATH}")}
# Check that we see virtualenv Python on PATH
factory.addStep(SC(command=[
    'python', '-c', 'import sys; print(sys.prefix)'],
    env=venv_env))
# Install packages.
factory.addStep(SC(command=[
    'pip', 'install', '-r', 'test-requirements.txt'],
    env=venv_env))
factory.addStep(SC(command=[
    'pip', 'install', 'pytest'],
    env=venv_env))
factory.addStep(SC(command=[
    'pip', 'install', REPO_NAME],
    env=venv_env))
# Run tests.  Python not correctly found from pytest script.
factory.addStep(SC(command=[
    'python', '-m', 'pytest', '--pyargs', PKG_NAME],
    env=venv_env))

c['builders'] = []
c['builders'].append(
    util.BuilderConfig(name="mac-tests",
      workernames=worker_groups['macos'],
      factory=factory))
c['builders'].append(
    util.BuilderConfig(name="linux-tests",
      workernames=worker_groups['linux'],
      factory=factory))

####### BUILDBOT SERVICES

# 'services' is a list of BuildbotService items like reporter targets. The
# status of each build will be pushed to these targets. buildbot/reporters/*.py
# has a variety to choose from, like IRC bots.

c['services'] = []

####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot installation's
# home pages (linked to the 'titleURL').

c['title'] = "PsychoPy buildbot"
c['titleURL'] = "https://buildbot.psychopy.org"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server is visible. This typically uses the port number set in
# the 'www' entry below, but with an externally-visible host name which the
# buildbot cannot figure out without some help.

c['buildbotURL'] = p_config['buildbotURL']

# minimalistic config to activate new web UI
c['www'] = dict(port=p_config.get('web_port', 8010),
                plugins=dict(waterfall_view={}, console_view={}, grid_view={}))

####### DB URL

c['db'] = {
    # This specifies what database buildbot uses to store its state.
    # It's easy to start with sqlite, but it's recommended to switch to a dedicated
    # database, such as PostgreSQL or MySQL, for use in production environments.
    # http://docs.buildbot.net/current/manual/configuration/global.html#database-specification
    'db_url' : "sqlite:///state.sqlite",
}

# Authorization to web interface
auth_groups = p_config['auth_groups']
g_user_passes = []
role_names = defaultdict(list)
for role in auth_groups:
    for g_user, g_pass in auth_groups[role].items():
        role_names[role].append(g_user)
        g_user_passes.append((g_user, g_pass))

# http://docs.buildbot.net/current/manual/configuration/www.html#example-configs
c['www']['authz'] = util.Authz(
        allowRules = [
            util.AnyControlEndpointMatcher(role="admins")
        ],
        roleMatchers = [
            util.RolesFromUsername(roles=['admins'],
                                   usernames=role_names['admins'])
        ]
)
c['www']['auth'] = util.UserPasswordAuth(g_user_passes)
